// Bio styles

#bio {
	width: 100%;
	background-color: $background-dark;
	a {
		text-decoration: none;
		color: $text-white;
		&:hover {
			text-decoration: underline;
		}
	}
	h2 {
		font-size: 2.25rem;
		line-height: 1.1;
		font-weight: 600;
		padding-left: 15px;
		padding-bottom: 25px;
		font-weight: bold;
	}
	p {
		padding-left: 15px;
		font-size: 1rem;
		line-height: 1.875rem;
	}
	.container {
		@include media-2 {
			display: flex;
			#bio-one {
				width: 50%;
			}
			#bio-two {
				width: 50%;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				div {
					margin-bottom: auto;
				}
			}
		}
	}
}

#bio-one {
	p:first-of-type {
		font-weight: bold;
	}
}

#bio-two {
	p:nth-of-type(1) {
		font-style: italic;
		font-weight: 600;
		font-size: 1.3rem;
	}
	p:nth-of-type(2) {
		color: $text-midtone;
		font-weight: 600;
		font-size: 1.1rem;
	}
	a {
		color: $text-white;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

#bio-two {
	h2:after {
		margin-top: 40px;
		display: block;
		content: url("../img/star.png") url("../img/star.png")
			url("../img/star.png") url("../img/star.png") url("../img/star.png");
	}
}
