// Contact page styles

.contact-pg {
	color: $text-dark;
	h1 {
		color: $text-white;
		font-weight: 500;
		background-color: $text-dark;
	}
}

.contact-main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.contact-full {
	grid-column-start: span 3;
	padding: 15px;
}

.contact-hdr {
	display: flex;
	flex-direction: row;
	p:first-of-type {
		font-weight: bold;
	}
}

.office-greater {
	display: flex;
	max-width: 1200px;
	margin-left: calc(50vw - 600px);
}
.office-box {
	display: flex;
	flex-direction: column;
	margin: 30px;
	padding-top: 0px;
	background-color: $off-white;
	border-radius: 10px 10px 0 0;
	img {
		width: 100%;
		height: auto;
		border-radius: 10px 10px 0 0;
	}
	h2 {
		color: $text-dark;
		font-weight: 400;
		font-size: 1.25rem;
		line-height: 1.1;
	}
	h3 {
		color: $purple;
		font-weight: 700;
		font-size: 1.65rem;
		line-height: 1.1;
	}
	p {
		font-weight: 400;
		font-size: 0.8125rem;
		line-height: 1.375rem;
	}
	h1,
	h2,
	h3,
	p {
		margin-left: 15px;
		margin-top: 15px;
	}
}

.info-box {
	h2 {
		color: $text-dark;
		font-size: 1rem;
	}
	h1 {
		color: $purple;
		background-color: $white;
		font-size: 1.625rem;
	}
	h1,
	h2 {
		line-height: 1.875rem;
		letter-spacing: 0.4px;
		font-weight: 600;
	}
}

.form-box {
	display: grid;
	grid-template-columns: 1fr;
	background-color: $off-white;
	border-radius: 10px;
	font-weight: 600;
	font-size: 1rem;
	letter-spacing: 0.4px;
	margin: 30px;
	padding: 15px;
	a {
		text-decoration: none;
		color: $text-dark;
	}
}

.form-block {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
}

.form-segment {
	display: flex;
	flex-direction: column;
	width: 100%;
	input {
		width: 80%;
		height: 30px;
	}
	.checkbox-box {
		width: 20px;
		height: 20px;
	}
}

#email-validation {
	display: none;
}

.form-plus {
	display: flex;
	max-width: 1200px;
	margin-left: calc(50vw - 650px);
	label {
		font-weight: 600;
		font-size: 1rem;
		letter-spacing: 0.4px;
	}
}

.message {
	font-weight: bold;
	position: fixed;
	z-index: 90;
	top: 30vh;
	left: 45vw;
	background-color: $off-white;
	padding: 15px;
	border-radius: 5px;
	border: solid 1px $text-dark;
}

.message-green {
	color: green;
}

.message-red {
	color: red;
}

#accordion {
	cursor: pointer;
	transition: 0.4s;
	line-height: 1.875rem;
	letter-spacing: 0.4px;
	font-weight: 600;
	font-size: 1rem;
}

#accordion:hover,
.accordion-active {
	text-decoration: underline;
}

#panel {
	display: none;
	overflow: hidden;
}

.form-box {
	width: 70%;
}

.info-box {
	width: 30%;
}
